#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.packageimage {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    padding: 40px 20px;
    background-color: #1a237e;
}


.allcards {
    display: flex;
    justify-content: center;
}

.carditems {
    width: 300px !important;
    height: 530px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    overflow: hidden;
    background-color: #000;
    color: white;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
    transition: transform 0.25s ease;
    
}

.carditems :hover {
    transform: translateY(-5px);
}

.carditems  img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}


.carditems  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}


.carditems  .card-text {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 15px;
}


.carditems  button {
    width: 100%;
    margin-bottom: 10px;
}
