.login-page {
  height: 100vh;
  background: linear-gradient(135deg, #2f2f2f, #b5b5b5);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Segoe UI", sans-serif;
}

.login-card {
  background-color: #f6f5ef;
  padding: 40px;
  width: 380px;
  border-radius: 14px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.login-card h2 {
  color: #224037;
  margin-bottom: 5px;
}

.login-card p {
  color: #6b6b6b;
  font-size: 14px;
  margin-bottom: 20px;
}

.login-card input {
  width: 100%;
  padding: 12px 14px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #d6d6d6;
  font-size: 14px;
  outline: none;
}

.login-card input:focus {
  border-color: #224037;
}

.login-card button {
  width: 100%;
  padding: 12px;
  background-color: #224037;
  color: #fff;
  border: none;
  border-radius: 25px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.login-card button:hover {
  background-color: #1a312a;
}


.error-msg {
  background-color: #ffe6e6;
  color: #c0392b;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  font-size: 13px;
}
