
.login-page {
  width: 100vw; 
  min-height: 20vh;
  

  margin: 0;
  padding: 0;
  

  display: flex;
  justify-content: center;
  align-items: center;


  background: #f0f4f1;
  
 
  box-sizing: border-box;
}


.login-card {
  background: rgba(255, 255, 255, 0.98); 
  
 
  padding: 30px 35px; 
  
  
  border-radius: 24px; 
  
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
  

  width: 90%; 
  max-width: 380px; 
  
  text-align: center;
  animation: fadeIn 0.6s ease-out;
  

  display: flex;
  flex-direction: column;
  gap: 15px;
}


.login-card h2 {
    margin-bottom: 5px;
    font-size: 1.8rem;
}

.login-card p {
    margin-bottom: 15px;
    font-size: 0.9rem;
}

.login-card input {
  width: 100%;
  padding: 14px 18px;
  margin-bottom: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  background-color: #f9f9f9;
  font-size: 15px;
  transition: all 0.3s ease;
  box-sizing: border-box; 
}

.login-card input:focus {
  border-color: #2d6a4f;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(45, 106, 79, 0.1);
  outline: none;
}


.login-card button {
  width: 100%;
  padding: 15px;
  background-color: #1b4332;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 10px;
}

.login-card button:hover {
  background-color: #2d6a4f;
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(27, 67, 50, 0.2);
}


.error-msg {
  background-color: #fff2f2;
  color: #d90429;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 14px;
  border-left: 4px solid #d90429;
}

